/* font-family: 'Dancing Script', cursive;
font-family: 'Inter Tight', sans-serif;
font-family: 'Montserrat', sans-serif; */

.bodyClassDark {
  background-color: black;
  color: white;
  background-image: url("./images/layered-waves-haikei.svg");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.bodyClassLight {
  background-color: whitesmoke;
  background-image: url("./images/layered-waves-haikei_light.svg");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.siteHeader {
  padding-left: 12%;
  display: flex;
  font-size: larger;
}

.navigationBar {
  min-width: 30%;
  flex-wrap: wrap;
  display: flex;
  flex: 3;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 5%;
  align-items: baseline;
}

.aboutMe {
  display: flex;
  align-content: center;
  justify-content: center;
  color: black;
}

.flaskImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5%;
}

.aboutMeWriteUp {
  font-family: "Inter Tight", sans-serif;
  font-size: larger;
  align-self: center;
  padding: 5%;
  max-width: 50%;
}

.devWriteUp {
  text-align: center;
  color: #26df57;
  text-shadow: 1px 1px white;
  width: 450px;
  font-size: 1.5rem;
}

.buttonTheme {
  height: 50%;
}

.projects,
.skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.project {
  padding-bottom: 5%;

  justify-self: center;
  gap: 5%;
}

.projImage {
  height: 200px;
  border-radius: 2%;
  box-shadow: 4px 4px;
}
.projImage:hover {
  box-shadow: 6px 6px;
  color: red;
  transform: scale(1.1);
}

.projHeading,
.skillsHeading,
.skillsIcons {
  grid-column: 1/4;
  text-align: center;
}

.topRow {
  width: 200px;
  height: 250px;
}

.bottomRow {
  width: 300px;
  height: 200px;
}

.contactContainer {
  display: none;
  grid-template-columns: 1fr 1fr;
  border: 3px solid yellow;
  background-color: rgba(94, 86, 86, 0.664);
  width: 25%;
  position: fixed;
  left: 40%;
  top: 20%;
  padding: 10px;
}
#messageText {
  grid-column: 1/3;
}
.closeButton {
  grid-row: 1/2;
  grid-column: 2/3;
  position: fixed;
  left: 65%;
  top: 15%;
}
.topRowP {
  width: 200px;
}
p {
  width: 300px;
  text-align: center;
}
.devicon-github-original-wordmark {
  font-size: 50px;
}

@media (max-width: 600px) {
  .project {
    margin: auto;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutMeWriteUp {
    max-width: 80%;
  }
  .contactContainer {
    width: 80%;
    left: 5%;
    top: 20%;
  }
  .closeButton {
    left: 45%;
    top: 15%;
  }
  .devWriteUp {
    width: 300px;
    font-size: 1rem;
  }
  .devicon-github-original-wordmark {
    font-size: 30px;
  }
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}
