.bodyClassDark{ 
    background-color: black;
    color: white;
}
.bodyClassLight{
    background-color:whitesmoke;
    
}
.siteHeader{
    
    display: flex;
    margin-left: 5%;
}

.navigationBar{
    
    display: flex;
    flex: 3;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 5%;
    align-items: baseline;
}

.aboutMe {
    display: flex;
    align-content: center;
    justify-content: center;
}

.flaskImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5%;
}

.aboutMeWriteUp{
   
    align-self: center;
    padding: 5%
}

.devWriteUp{
    text-align: center;
    
}

.buttonTheme{
    height: 50%;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    width: auto;
    
}

.project{
    border: 2px dotted aliceblue;
    
    padding: 5%;
    margin-left: 20%;
    justify-self: center;
}

.projImage{
    
    height: 200px;
}